{% extends 'layout.html.twig' %}
{% block body %}
    <!-- Featured Post -->
    {% set featuredPost = posts | first %}
    <article class="post featured">
        <header class="major">
            <span class="date">{{ featuredPost.publishedAt | date('d/m/Y') }}</span>
            <h2>
                <a href="{{ path('posts_show', { postName: featuredPost.postName }) }}">
                    {{ featuredPost.title | title }}
                </a>
            </h2>
        </header>
        <ul class="actions special">
            <li>
                <a href="{{ path('posts_show', { postName: featuredPost.postName }) }}" class="button large">Full Story</a>
            </li>
        </ul>
    </article>

    <!-- Posts -->
    <section class="posts">
        {% for post in posts %}
            <article>
                <header>
                    <span class="date">{{ post.publishedAt | date('d/m/Y') }}</span>
                    <h2>
                        <a href="{{ path('posts_show', { postName: post.postName }) }}">
                            {{ post.title | title }}
                        </a>
                    </h2>
                </header>
                <p>{{ post.content | slice(0, 200) | raw }}...</p>
                <ul class="actions special">
                    <li>
                        <a href="{{ path('posts_show', { postName: post.postName }) }}" class="button">Full Story</a>
                    </li>
                </ul>
            </article>
        {% endfor %}
    </section>

{% endblock %}